.articleContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 17px;
    padding: 0 15px;

    .singleHeadlineContainer {
        margin: 10px 0;
        
    }
}