@import 'variables';

.navBar {
  display: grid;
  grid-template-rows: 1fr,1fr;
  background-color: $secondary-background-color;
  border-bottom: 1px solid $primary-border-color;
  border-width: medium;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px  0.2;
  .navTop{

    height:40px;
    display: flex;
    flex: auto;
    margin-top:15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
    
    
  
    .heading {
      font-size: 30px;
      padding-left:3rem;
    }
  
   
  
    .authenticationContainer{
      display:flex;
      justify-content: center;
      align-items: center;
      padding-right: 3rem;
      padding-bottom: 0;
      font-size: 20px;
    }
  }
  .navBot{
    display: flex;
    justify-content: center;
    
    .navList{
      display: flex;
      flex-direction: row;

      .navListItem{
        margin:0;
        list-style: none;
        padding :0 5px;;
      }
    }
  }
}
