@import 'variables';



.weatherContainer{
    display: flex;
    background-color: $secondary-background-color;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border:1px solid $primary-border-color;
    border-radius: 10px;
    width:250px;
    .imageContainer{
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        .weatherIcon{
            width:3.5rem;
            height:3.5rem;
        }
    }
    .infoContainer {
        align-items: center;
    }
}