
.weatherIcon{
    font-size:3.5rem;
}

.weatherContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border:1px solid black ;
    border-radius: 10px;
    width:250px;
    .imageContainer{
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        .weatherIcon{
            width:3.5rem;
            height:3.5rem;
        }
    }
    .infoContainer {
        align-items: center;
    }
}